.card-wrapper {
  display: flex;
  flex-direction: column;
  max-width: 325px;
  margin: 1rem;
  height: max-content;
  border-radius: var(--border-radius);
  background-color: var(--bg-color);
}

.card-img {
  border-radius: var(--border-radius);
  width: 100%;
  height: auto;
}

.card-heading {
  font-size: 1.1rem;
}

.card-content,
.card-heading {
  padding: 0.75rem 0.75rem 0;
}

.product-price {
  display: flex;
  align-items: flex-end;
}

.card-content .price {
  font-size: 1.5rem;
  font-weight: bold;
}

.card-content .previous-price {
  font-size: 1rem;
  padding-left: 1rem;
  color: var(--text-secondary);
  text-decoration: line-through;
}

.card-content .discount {
  font-weight: bold;
  color: var(--success-color);
}

.card-actions {
  padding: 0.75rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

/* card with badge */

.card-w-badge > div {
  position: relative;
}

.card-w-badge .card-badge {
  display: block;
  position: absolute;
  top: 15px;
  left: 0;
  padding: 0.25rem 0.5rem;
  border-radius: 0 var(--border-radius) var(--border-radius) 0;
  color: var(--white);
}

/* card with dismiss */

.card-w-dismiss > div {
  position: relative;
}

.card-w-dismiss .card-dismiss {
  display: block;
  position: absolute;
  top: 8px;
  right: 12px;
  font-size: 1.5rem;
  color: var(--text-secondary);
}

.card-dismiss:hover {
  cursor: pointer;
  transform: scale(1.05);
}

/* card with text overlay */

.card-w-overlay {
  position: relative;
}

.card-w-overlay .overlay-bg {
  opacity: 0.4;
}

.card-w-overlay .overlay-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 1.2rem;
  padding: 0.3rem 1.25rem;
  border-radius: var(--border-radius);
  color: var(--white);
  background-color: var(--text-color);
}

/* horizontal card */

.card-horizontal .row {
  display: flex;
}

.card-horizontal img {
  width: 40%;
}

.card-horizontal .card-heading {
  font-size: 1rem;
}
