.component-container {
  /* margin: 2rem 1rem; */
  /* padding: 0 * ""; */
}

.component-header {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
}

.component-header h2,
.component-container h3 {
  font-weight: 500;
}

.component-container h3 {
  padding: 0.5rem 0;
}

.component-content {
  display: flex;
  align-items: center;
  gap: 1rem;
  padding: 1.25rem;
}
