.component-container {
  margin: 2rem 1rem;
  padding: 0 * "";
}

.component-header {
  padding: 0 1rem;
}

.component-content {
  display: flex;
  justify-content: center;
  align-items: start;
  padding: 2rem 1rem;
}
